.button {
    -fx-background-color: white;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-content-display: GRAPHIC_ONLY;
    -fx-cursor: HAND;
}

.button:hover {
    -fx-background-color: #ff6767;
}