.check-box {
	-fx-border-radius: 20;
	-fx-border-width: 2;
	-fx-border-color: #6756BE;
	-fx-text-fill: #6756BE;
	-fx-font-family: "Roboto Black";
	-fx--font-size: 16px;
	-fx-padding: 10;
	-fx-pref-height: 10;
}

.check-box .box {
	-fx-background-color: white;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-width: 2;
	-fx-border-color: #6756BE;
	-fx-pref-width: 20;
	-fx-pref-height: 20;
	-fx-font-size: 16px;
	-fx-mark-color: #6756BE;
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: #6756BE;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-width: 2;
	-fx-pref-width: 20;
	-fx-pref-height: 20;
	-fx-font-family: "Roboto Black";
	-fx-font-size: 16px;
}

.check-box_selected {
	-fx-border-radius: 20;
	-fx-border-width: 2;
	-fx-border-color: #6756BE;
	-fx-text-fill: #6756BE;
	-fx-font-family: "Roboto Black";
	-fx--font-size: 16px;
	-fx-padding: 10;
	-fx-pref-height: 10;
}

.check-box:selected .text {
	-fx-font-size: 18px;
	-fx-font-family: "Roboto Black";
}