.combo-box-base {
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5;
	-fx-effect: dropshadow( three-pass-box , rgba(255, 355, 255, 0.6), 5, 0, 0, 0);
	-fx-cursor: hand;
}

.combo-box-base .arrow {
	-fx-background-color: #6756BE;
}

.combo-box .list-cell  {
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
	-fx-background-radius: 5;
}

.combo-box-popup .list-view  {
    -fx-background-color: transparent; /*Colore di sfondo del menu a discesa*/
	-fx-background-radius: 5;
}    

.combo-box-popup .list-view .list-cell  {
    -fx-background-color: #EDECF8;
}

.combo-box-popup .list-view .list-cell:filled:hover  {
    -fx-background-color: #EDECF8;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: white;
    -fx-background-color: white;
}