.combo-box-base-language {
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5;
	-fx-effect: dropshadow( three-pass-box , rgba(255, 355, 255, 0.6), 5, 0, 0, 0);
	-fx-cursor: hand;
}

.combo-box-base-language .arrow {
	-fx-background-color: #6756BE;
}

.combo-box-language .list-cell  {
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
	-fx-background-radius: 5;
}

.combo-box-popup-language .list-view  {
    -fx-background-color: transparent; /*Colore di sfondo del menu a discesa*/
	-fx-background-radius: 5;
}    

.combo-box-popup-language .list-view .list-cell  {
    -fx-background-color: #EDECF8;
}

.combo-box-popup-language .list-view .list-cell:filled:hover  {
    -fx-background-color: #EDECF8;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup-language .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: white;
    -fx-background-color: white;
}


.combo-box-base-filter {
    -fx-background-color: white;
    -fx-background-radius: 5;
	-fx-cursor: hand;
	-fx-border-color: #6756BE;
	-fx-border-radius: 5;
	-fx-border-width: 2;
	-fx-font-family: "Roboto Black";
	-fx-font-size: 14px;
	-fx-text-fill: #9593D9;
}

.combo-box-filter .text-field {
	-fx-text-fill: #6756BE;
	-fx-prompt-text-fill: #9593D9;
}

.combo-box-base-filter .arrow {
	-fx-background-color: #6756BE;
}

.combo-box-filter .arrow-button {
	-fx-background-color: white;
	-fx-border-width: 0 0 0 2;
	-fx-border-color: #6756BE;
	-fx-border-radius: 2;
}

.combo-box-filter .arrow-button:hover {
    -fx-background-color: #9593D9;
}

.combo-box .arrow-button:hover .arrow {
    -fx-background-color: white;
}

.combo-box-filter .arrow-button:pressed {
	-fx-background-color: #9593D9;
	-fx-border-width: 0 0 0 2;
	-fx-border-color: #6756BE;
	-fx-border-radius: 2;
}

.combo-box-filter .list-cell  {
    -fx-background-color: transparent;
	-fx-text-fill: #6756BE;
}

.combo-box-popup .list-view  {
    -fx-background-color: #6756BE; /*Colore di sfondo del menu a discesa*/
}    

.combo-box-popup-filter .list-view .list-cell  {
    -fx-background-color: white;
	-fx-cursor: hand;
}

.combo-box-popup-filter .list-view .list-cell:filled:hover  {
    -fx-background-color: #EDECF8; /*Colore di sfondo dell'oggetto quando passo sopra*/
    -fx-text-fill: #6756BE; /*Colore del testo dell'oggeto quando passo sopra*/
}

.combo-box-popup-filter .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #6756BE; /*Colore di sfondo dell'oggetto selezionato*/
	-fx-text-fill: white; /*Colore del testo dell'oggetto selezionato*/
}